[submodule "matlab-aws-common"]
	path = matlab-aws-common
	url = https://github.com/mathworks-ref-arch/matlab-aws-common.git
[submodule "matlab-aws-s3"]
	path = matlab-aws-s3
	url = https://github.com/mathworks-ref-arch/matlab-aws-s3.git
[submodule "matlab-aws-sqs"]
	path = matlab-aws-sqs
	url = https://github.com/mathworks-ref-arch/matlab-aws-sqs.git
[submodule "matlab-aws-sns"]
	path = matlab-aws-sns
	url = https://github.com/mathworks-ref-arch/matlab-aws-sns.git
[submodule "matlab-aws-dynamodb"]
	path = matlab-aws-dynamodb
	url = https://github.com/mathworks-ref-arch/matlab-aws-dynamodb.git
[submodule "matlab-aws-athena"]
	path = matlab-aws-athena
	url = https://github.com/mathworks-ref-arch/matlab-aws-athena.git
